<div class="table-responsive">
    <tbody>
    <div class="description">
        <td>
            <h2>Ca'n Geroni</h2>
            <h2 class="description"><img class="img-fluid" src="/housegraphics/1/2008_0816Mallorca20080066-a.JPG" border="0" /></h2>
            <h2><span style="color: #510000;"><a href="http://bobedre.dk/sommerhuse/et-ferieliv-pa-klippekanten"><strong>Artikel&nbsp;i Bo Bedre, klik her!</strong></a></span></h2>
        </td>
    </div>
    <div class="description">

            <ul>
                <li>Orkesterplads p&aring; kanten af Middelhavet med 180 graders havudsigt - OG NU MED NYT K&Oslash;KKEN OG OPVASKEMASKINE!</li>
                <li>Sk&oslash;nne solnedgange</li>
                <li>Privat adgang til klippeomr&aring;det under huset.</li>
                <li>Privat badestige til disposition P&Aring; EGET ANSVAR i juni, juli og august (ikke i andre perioder pga stormrisiko)</li>
                <li>Uforstyrret af turister, men sjov i n&aelig;rheden</li>
                <li>Fremragende muligheder for sv&oslash;mning, snorkling og dykning</li>
                <li>Tennisbaner og dykkercenter i n&aelig;rheden</li>
                <li>20 minutters gang til Cala Mondrag&oacute;, en af Mallorcas bedste strande</li>
                <li>10 km til Val d'Or, en glimrende golfbane</li>
                <li>5 rum - 9 personer - check plantegningen</li>
                <li>Udlejning uden for de faste perioder mulig, n&aring;r det ikke rammer andre lejem&aring;l</li>
                <li>Bem&aelig;rk &aelig;ndrede perioder omkring p&aring;ske aht p&aring;skeferie, m&aring;ske ogs&aring; omkring jul</li>
                <li>Uden for bredb&aring;ndets r&aelig;kkevidde, men masser af wifi-muligheder i n&aelig;rheden</li>
                <li>Rimelig leje, check under menupunktet "Bookings"</li>
            </ul>

    </div>
    <div class="description">

            <p><strong>Hvor?<br /></strong></p>
            <img class="pictureright" src="/housegraphics/1/bigmap.gif" border="0" width="250" height="146" />
            <p>Ca&rsquo;n Geroni ligger i et omr&aring;de, der hedder Colonia del Silencio, Stilhedskolonien. Huset ligger 2 km fra Porto Petro, 65 km fra Palma og 55 km fra lufthavnen. Adressen er:</p>
            <p><strong>Ca'n Geroni, Avinguda Jorn Utzon 27, 07691 Porto Petro, Mallorca</strong></p>
            <p><strong>&nbsp;</strong></p>
            <p><strong>L&aelig;ngdegrad 3,2036733627320000 og breddegrad 39,3516056146490000</strong></p>
            <p>En af Mallorcas bedste strande, Cala Mondrag&oacute;, ligger 20 minutters gang fra Ca&rsquo;n Geroni eller 5 minutter i bil. Cala d&rsquo;Or, hvor der er gode indk&oslash;bsmuligheder og lidt natteliv, er omkring 6 km fra huset.</p>
            <p>N&aelig;rmeste markedsby er Santanyi, hvor der er marked hver onsdag og l&oslash;rdag. I Alquer&iacute;a Blanca, 5 km fra huset, er der et mindre marked hver tirsdag. I Felanitx er der marked om s&oslash;ndagen.</p>
            <p>I Porto Petro, Cala d&rsquo;Or, Alquer&iacute;a Blanca, Calonge, Cala Figuera og Santanyi er der masser af udm&aelig;rkede restauranter. Vil man have diskoteker og natteliv, skal man tage til Cala d&rsquo;Or.</p>
            <p>&nbsp;</p>

    </div>
    <div class="description">

            <p><strong>Detaljeret kort<br /></strong></p>
            <p><img class="img-fluid" src="/housegraphics/1/detailledmap.gif" border="0" width="431" height="216" align="middle" /></p>

    </div>
    <div class="description">

            <p><strong>&nbsp;</strong></p>
            <p><span style="font-family: arial,helvetica,sans-serif; font-size: medium;"><strong><span>Ca'n Geroni indend&oslash;rs</span></strong></span></p>
            <p>Om vinteren bruger man stuen en del. Man kan sidde i timevis og bare kigge ud over havet. Eller nyde en kop kaffe eller en drink foran pejsen.</p>
            <p>Fra k&oslash;kkenet, der er en del af stuen, har man udsigt over havet og de forbipasserende b&aring;de. Det h&aelig;nder endda, at man ser delfiner.</p>
            <p><img class="img-fluid" src="/housegraphics/1/stuen.jpg" border="0" width="448" height="336" /></p>
            <p><strong>Opholdsstuen set fra k&oslash;kkenet</strong></p>
            <p><strong>&nbsp;</strong></p>
            <p>Bortset fra det store sovev&aelig;relse med adgang fra stuen er sovev&aelig;relserne enkle og funktionelle. Der er ud over det store sovev&aelig;relse 3 mindre v&aelig;relser med 2 senge i hver og et enkelt med kun en seng. V&aelig;relserne deler badev&aelig;relser to og to. Der er direkte adgang til terrassen fra alle sovev&aelig;relser.<strong><br /></strong></p>
            <br />
            <h2><img class="img-fluid" src="/housegraphics/1/room2.jpg" border="0" width="336" height="448" /></h2>
            <h2>Et af de mindre sovev&aelig;relser</h2>
            <p>&nbsp;</p>
            <p><strong>Udend&oslash;rs<br /></strong></p>
            <p>Hovedattraktionen er naturligvis havet. En trappe leder ned til klippeterr&aelig;net og havet 18 meter under huset. I juni, juli og august - kun disse m&aring;neder, da der er for stor risiko for storme og h&oslash;jeb&oslash;lger i de &oslash;vrige m&aring;neder - er der en badestige til badning fra klipperne til r&aring;dighed, som dog skal tages op efter brug.</p>
            <p>P&aring; klipperne neden for huset kan man nyde vandets brusen, slikke sol eller tage sig en drink i den bl&aring; time. Klipperne er offentlige - zona mar&iacute;tima - og folk har lov til at passere, ogs&aring; til at bruge vores trappe. De lokale fiskere skal altid have lov til at v&aelig;re der. 5 minutters k&oslash;rsel fra Ca'n Geroni ligger en af Mallorcas strande - Cala Mondrag&oacute;, Dragebugten - som er et sikkert badested for mindre b&oslash;rn.</p>

    </div>
    <div class="description">

            <p><strong>Leje<br /></strong></p>
            <p>Huset er til r&aring;dighed for lejere hele &aring;ret. Det lejes som regel ud p&aring; ugebasis fra fredag til fredag. Check-in-tid er fredag klokken 15.00, check-ud-tid fredag klokken 9.00.</p>
            <p>Den anf&oslash;rte pris d&aelig;kker leje for to personer, el, gas, vand, linned (undtagen strandh&aring;ndkl&aelig;der), vask og reng&oslash;ring. Der betales 57-60 euro per person ud over de to f&oslash;rste. Der er en enkelt sammenklappelig b&oslash;rneseng til r&aring;dighed, og op til 2 b&oslash;rn under 2 &aring;r kan medbringes gratis. Har man to med, m&aring; man selv medbringe den anden barneseng og linned.</p>
            <p>Lejen afh&aelig;nger s&aring;ledes af antal personer og &aring;rstid.</p>
            <p>1/3 af den totale leje betales ved bestilling. Den resterende leje betales senest fire uger f&oslash;r ankomstdato.<br /><br />Reservationen kan &aelig;ndres gratis indtil 6 m&aring;neder f&oslash;r ankomst. Reservationen er bindende fra 6 m&aring;neder f&oslash;r ankomst, men kan &aelig;ndres gratis indtil 3 m&aring;neder f&oslash;r ankomst, hvis dette ikke afstedkommer indirekte omkostninger. Direkte eller indirekte omkostninger vil blive d&aelig;kket af forudbetalingen p&aring; 1/3 af den fulde leje.</p>
            <p><strong>Kontakt<br /></strong></p>
            <p>&nbsp;<a href="mailto:iben@hasselbalch.com">iben@hasselbalch.com</a><br />+45 45 76 41 76, mobil: +45 26&nbsp;25 41 76 (Vi taler dansk, engelsk, spansk og fransk). Vi besvarer altid mails. Hvis din mail ikke besvares, ring da til +45 26&nbsp;25 41 76.</p>
            <p><br /><strong><br /></strong></p>
            <p><img  class="img-fluid" src="/housegraphics/1/Ferie_Can_Geroni_7-14._juli_2007_006.jpg" border="0" width="650" height="488" /></p>

    </div>
    </tbody>
</div>