/node_modules
/public/hot
/public/storage
/public/doc
/storage/*.key
/vendor
/phpDocumentor
/public/vendor/bootstrap-datetimepicker
/public/vendor/cldr-data
/public/vendor/cldrjs
/public/vendor/globalize
/public/vendor/jquery
/public/vendor/tcg
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
